body {
  background: #0f0f14;
  color: #ffffff;
  font-family: sans-serif;
}
.container-small {
  max-width: 700px;
  margin: 0 auto;
  padding: 40px 20px;
}
h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.subtitle {
  color: #a0a0b0;
  margin-bottom: 30px;
}

.question-card {
  background: #1e1e2f;
  padding: 30px;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 0 10px 25px rgba(77, 77, 77, 0.13);
}
.questInput{
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 8px;
  width: 17vw;
}
.buttonCheck{
  background-color: #7c3aed;
  padding: 8px 15px;
  border: 2px solid black;
  color: white;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.buttonCheck:hover{
  background-color: #701dff 
}